body {
    background-color: rgba(23, 23, 23, 1);
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 1460px;
    margin: auto;
    margin-top: 46px;
    margin-bottom: 128px;
}

a.header-link {
    color: rgba(228, 181, 100, 1);
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid;
    padding: 10px;
    margin-left: 1026px;
}

.main-content {
    width: 1460px;
    margin: auto;
}

h1.first-section-title {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 41px;
}

p.first-section-text {
    color: white;
    font-size: 20px;
    margin-bottom: 41px;
}

.first-section-content {
    display: grid;
    grid-template-columns: repeat(6, 233px);
    grid-template-rows: repeat(2, 460px);
    justify-content: center;
    gap: 10px;
    margin-bottom: 160px;
}

.first-box {
    background-color: rgba(99, 79, 44, 1);
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-text {
    font-size: 20px;
    color: white;
}

.second-box {
    background-color: rgba(180, 163, 133, 1);
    grid-area: 1 / 3 / 2 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-box {
    background-color: rgba(228, 181, 100, 1);
    grid-area: 1 / 5 / 2 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-box {
    background-color: rgba(99, 90, 74, 1);
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-box {
    background-color: rgba(176, 140, 77, 1);
    grid-area: 2 / 4 / 3 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.second-section-title {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 60px;
}

.second-section-content{
    display: grid;
    grid-template-rows: repeat(14, 60px);
    grid-template-columns: repeat(3, 480px);
    justify-content: center;
    gap: 10px;
    margin-bottom: 200px;
}

.box-1 {
    background-color: rgba(14, 14, 14, 1);
    grid-area: 1 / 1 / 6 / 2;
    padding-left: 50px;
    padding-top: 45px;
}

.second-section-box-text {
    color: white;
    font-size: 20px;
}

.box-text-2 {
    text-align: center;
    font-size: 20px;
    color: white;
}

.box-2 {
    background-color: rgba(36, 36, 36, 1);
    grid-area: 1 / 2 / 8 / 3;
    padding-left: 50px;
    padding-top: 45px;
}

.box-3 {
    background-color: rgba(31, 31, 31, 1);
    grid-area: 1 / 3 / 4 / 3;
    padding-left: 50px;
    padding-top: 45px;
}

.box-4 {
    background-color: rgba(31, 31, 31, 1);
    grid-area: 6 / 1 / 14 / 2;
    padding-left: 50px;
    padding-top: 45px;
}

.box-5 {
    background-color: rgba(228, 181, 100, 1);
    grid-area: 8 / 2 / 14 / 3;
    padding-left: 50px;
    padding-top: 45px;
}

.second-section-box-txt {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
}

.box-6 {
    background-color: rgba(14, 14, 14, 1);
    grid-area: 4 / 3 / 10 / 3;
    padding-left: 50px;
    padding-top: 45px;
}

.box-7 {
    background-color: rgba(10, 9, 9, 1);
    grid-area: 10 / 3 / 14 / 3;
    padding-left: 50px;
    padding-top: 85px;
}

.footer {
    width: 1460px;
    margin: auto;
    background-color: rgba(14, 14, 14, 1);
    padding-top: 172px;
}

.footer-height-section {
    margin-bottom: 70px;
}

.footer-title {
    font-size: 50px;
    color: white;
}

a.footer-link {
    color: rgba(228, 181, 100, 1);
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid;
    padding: 10px 40px;
    margin-left: 680px;
}

.footer-section-content {
    display: grid;
    grid-template-columns: repeat(3, 486px);
    grid-template-rows: repeat(2, 360px);
    justify-content: center;
    margin-bottom: 230px;
}

.footer-box-1 {
    background-color: rgba(99, 79, 44, 1);
    grid-template-columns: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box-2 {
    background-color: rgba(232, 210, 171, 0.76);
    grid-area: 1 / 2 / 3 / 2 ;
}

.footer-box-3 {
    background-color: rgba(228, 181, 100, 1);
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box-4 {
    background-color: rgba(99, 90, 74, 1);
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box-5 {
    background-color: rgba(176, 140, 77, 1);
    grid-area: 2 / 2/ 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box-6 {
    background-color: rgba(99, 79, 44, 1);
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box-2-content {
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.footer-img {
    width: 62px;
    height: 55px;
    margin-top: 60px;
}

.footer-img-2 {
    width: 139px;
    height: 55px;
    margin-bottom: 16px;
}

.footer-img-3 {
    width: 25px;
    height: 23px;
    margin-top: 12px;
}

.footer-box-2-txt {
    color: white;
    font-size: 22px;
}